

html,body{
font-family: 'Roboto', sans-serif;
width:100%;
height:100%;
}

body{
    background:#111;
    overflow: hidden;
}

#particles-js{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
}

.greeting{
    font-size: 5.5em;
    padding-left: .5em;
    color: white;
    position: absolute;
    top:0;
    left: 0;


}

.info{
    font-size: 25px;
    margin-left: 4em;
    color: white;
    position: absolute;
    top:13em;
    left: auto;
    width: 25em;
}

.linkBox{
    position:absolute;
    top:0;
    right:0;
    display: grid;
    border-style: solid;
    color: white;

}



.fa {
  padding: 22px;
  font-size: 3.5em;
  text-align: center;
  text-decoration: none;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
