

html,body{
font-family: 'Roboto', sans-serif;
width:100%;
height:100%;
}

body{
    background:#111;
    overflow: hidden;
}

#particles-js{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
}

.greeting{
    font-size: 68px;
    margin-left: 1.5em;
    color: white;
    position: absolute;
    top:.8em;
    left: 0;


}

.info{
    font-size: 25px;
    margin-left: 4em;
    color: white;
    position: absolute;
    top:13em;
    left: auto;
    width: 25em;
}

.linkBox{
    position:absolute;
    top:32em;
    left:28em;
    display: block;
    border-style: solid;
    color: black;

}
.linkText{

    /*text above my github, linkedIn, and email*/
    font-size: 13px;
    top:38.8em;
    left:36.6em;
    color: white;
    position: absolute;
    display: block;

}
#linkTexts{
    padding-right: 44px;
}

.fa {
  padding: 22px;
  font-size: 3.5em;
  text-align: center;
  text-decoration: none;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
